
        /* Additional custom styles */
        .banner_product {
            font-size: 38px;
            
            height: 250px;
        }
       
        .product-card {
            height: 400px;
            background-color: rgb(236, 188, 85); /* Placeholder color */
             /* Bootstrap colors */
            margin-bottom: 1rem;
            position: relative;
        }
        .product-card img {
            max-height: 100%;
        }
        .product-label {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgb(255, 0, 0);
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            font-size: 20px;
            text-align: center;
            transform: rotate(45deg);
        }
        .navbar-brand,
        .nav-link,
        .dropdown-toggle {
            margin-right: 5px;
            padding-left: 20%;
        }
        .nav-item.dropdown {
            margin-right: 5px;
        }
        .nav-link,
        .dropdown-item {
            cursor: pointer;
        }
        
        .product-price {
            text-align: center;
            display: flex;
        }
        .idmoney {
          padding-left: 20px;
         
        }
        .ms-auto{
            padding-right: 15px;
            color: aqua;
        }
        
        .product-icons img {
            width: 50px;
            height: 40px;
            margin-right: 10px;
            cursor: pointer;
            vertical-align: middle;
            padding-left: 15px;
        }
        .details-frame {
            display: inline-block;
            margin-left: -5px;
            border: 1px solid black;
            padding: 5px;
            text-align: right;
        }
        .details-frame h5 {
            font-size: 15px;
            margin: 0;
            text-align: center;
            padding-top: 5px;
        }
        .product-acc {
            display: flex;
        }
        .h3{
            font-weight: -10px;
            font-size: small;
        }
        .photo {
            background-image: url(img/background.png);
            background-position: cover;
            background-attachment: fixed;
        }
        
        .container-fluid {
            max-width: 600px;
            margin: auto;
            margin-top: 50px;
          }
     
      

    